{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
